#containerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 100px;
  margin-bottom: 0px;
}

h2 {
  font-size: 50px;
  margin-top: 0px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background:
    radial-gradient(circle at top, #1f8f4d, #064321 55%, #021b0d);
  color: white;
}

#mainbutton:hover{
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    violet,
    red
  );

  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: rainbow-move 7s linear infinite;
}

@keyframes rainbow-move {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

#circle {
  height: 100px;
  width: 100px;
  background-color: #3498db;
  border-radius: 50%; /* Rounds corners into a circle */
}

#containerDiv{
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    violet,
    red
  );

  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: rainbow-move 7s linear infinite;
}

#n404{
  display:flex;
  justify-content: center;
}

#containers{
  -webkit-text-stroke: 1px #000;
}

